.page {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 50px;
    column-gap: 100px;
}

.card {
    cursor: pointer;
    border: solid 2px white;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.3);
}